{% extends "account/layout.html" %}

{% block body %}

<div> 
    <ul id="articles">
    {% for article in articles %}
        {% if forloop.counter|divisibleby:2 %}
        <li>
            <div class="flexcontainer">
                <div class="picture">
                    <a href="{% url 'link' article.id %}"><img class="indexPic" src={{article.image}} alt="No Picture"></a>
                </div>
                <div class="info">
                    <div>{{ article.name }}</div>
                    <a href="{% url 'link' article.id %}" class="button">View More</a>  
                </div>
            </div>
        </li>
        {% else %}
        <li >
            <div class="flexcontainer">

                <div class="info">
                    <div>{{ article.name }}</div>
                    <a href="{% url 'link' article.id %}" class="button">View More</a>  
                </div>
                <div class="picture">
                        <a href="{% url 'link' article.id %}">
                            <picture>
                                <img class="indexPic" src={{article.image}} alt="No Picture">
                            </picture>
                        </a>
                </div>
            </div>
        </li>
        {% endif %}
    {% endfor %}        
    </ul>
</div>

{% endblock %}
